name: Retrain & Build Docker (CI)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install mlflow pandas scikit-learn xgboost

    - name: Train model
      run: |
        cd MLProject
        python modelling.py

    - name: Read run id
      run: |
        RUN_ID=$(cat MLProject/latest_run.txt)
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

    - name: Login Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker Image
      run: |
        mlflow models build-docker \
          -m runs:/$RUN_ID/model \
          -n riskinanda/telco-offer-ml

    - name: Push Docker Image
      run: |
        docker push riskinanda/telco-offer-ml
