name: Retrain & Build Docker (CI)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
    # 1️⃣ Checkout repo
    - name: Checkout repository
      uses: actions/checkout@v4

    # 2️⃣ Setup Python
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    # 3️⃣ Install dependencies
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow pandas scikit-learn xgboost matplotlib seaborn

    # 4️⃣ Train model (TANPA mlflow run MLProject)
    - name: Train model with MLflow
      run: |
        cd MLProject
        python modelling.py

    # 5️⃣ Login Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # 6️⃣ Build Docker Image via MLflow
    - name: Build Docker Image with MLflow
      run: |
        mlflow models build-docker \
          -m mlruns/*/*/artifacts/model \
          -n riskinanda/telco-offer-ml

    # 7️⃣ Push Docker Image
    - name: Push Docker Image
      run: |
        docker push riskinanda/telco-offer-ml

    # 8️⃣ Upload MLflow Artifacts (bukti CI)
    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns
