name: Retrain & Build Docker (CI)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install MLflow
        run: |
          python -m pip install --upgrade pip
          pip install mlflow

      - name: Retrain model with MLflow Project
        run: |
          mlflow run MLProject -e main

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image (MLflow)
        run: |
          mlflow models build-docker \
            -m MLProject/mlruns/*/*/artifacts/model \
            -n ${{ secrets.DOCKERHUB_USERNAME }}/telco-offer-ml:latest

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/telco-offer-ml:latest
